# Ignore environment variables
# Ignore environment variables
.env

# Ignore main 
/Users/sanduandrei/Desktop/Betting_RAG/main.py

# Ignore virtual environments
.venv/
venv/

# Ignore system files
__pycache__/
.DS_Store

# Ignore output data
Output/
JSON_Files/
