<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>__LABEL__</string>
    <key>ProgramArguments</key>
    <array>
        <string>__PYTHON_EXECUTABLE__</string>
        <string>-m</string>
        <string>Scripts.data_platform</string>
        <string>match-read-cycle</string>
        <string>--once</string>
        <string>--mode</string>
        <string>__MODE__</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__PROJECT_ROOT__</string>
    <key>StartInterval</key>
    <integer>600</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>ProcessType</key>
    <string>Background</string>
    <key>StandardOutPath</key>
    <string>__STDOUT_LOG__</string>
    <key>StandardErrorPath</key>
    <string>__STDERR_LOG__</string>
</dict>
</plist>
